.body,html
{
  background-color: black;
  height: 100%;
  margin: 0;
}

.container
{
	display: flex;
	flex-flow: column;
	height: 100%;
}

.topper 
{
  height: 80px;
  background-color: black;
  text-align: center;
  color: white;
  font-size: 80px;
  font-family: "fantasy";
  width: 100%;
  padding-bottom: 10px;
}

.construction
{
  height: 140px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: black;
}

.content
{
  background-color: black;
}

.center
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

.logo
{
	height: 600px;
}


